/* show.css */

/* Default styles */
body {
    font-size: 16px;
}

.card-title {
    font-size: 1.5rem;
}

.card-text, .list-group-item, .btn {
    font-size: 1rem;
}

#map {
    height: 300px;
}

/* Responsive styles for small screens */
@media screen and (max-width: 428px) {
    body {
        font-size: 14px;
    }

    .row {
        flex-direction: column;
    }

    .col-6 {
        width: 100%;
        padding: 0 10px;
    }

    .carousel-item img {
        height: 200px;
        object-fit: cover;
    }

    .card-title {
        font-size: 1.2rem;
    }

    .card-text, .list-group-item, .btn {
        font-size: 0.9rem;
    }

    .btn {
        padding: 0.5rem 1rem;
    }

    #map {
        height: 200px;
    }

    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        width: 20px;
        height: 20px;
    }

    .starability-basic label {
        font-size: 0.8rem;
    }

    .card-footer {
        font-size: 0.8rem;
    }
}